@use 'var' as *;
@use 'sass:color';

.education  {
    h2 {
        display: flex;
        justify-content: center;
        margin: 24px 0;

        @media (max-width: 768px) {
            margin-top: 50px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;

        &__item {
            max-width: 350px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;

            @media (max-width: 768px) {
                max-width: 300px;
            }
            
            &__detail  {
                display: flex;
                align-items: center;
                
                img {
                    margin-right: 24px;
                }
            }
        }
    }
}