@use 'var' as *;
@use 'sass:color';

.header {
    &__container {
        padding: 16px;
        background-color: color.scale($bgDark, $lightness: 15%);


        &__branding {
            display: flex;
            align-items: center;
            justify-content: center;

            &__icon {
                max-width: 40px;
                margin-right: 10px;
            }

            &__name {
                font-size: 40px;

                @media (max-width: 768px) {
                    font-size: 25px;
                }
            }
        }
    }
}