@use 'var' as *;
@use 'sass:color';

.hero {
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 40vh;
    max-width: 100%;

    .container {
        position: relative;
    }
    
    &::before  {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bgDark;
        content: '';
        opacity: 40%;
    }

    &__content  {

    }
}