@use 'var' as *;
@use 'sass:color';

.skills {
    h2 {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;

        @media (max-width: 768px) {
            margin-top: 50px;
            font-size: 21px;
        }
    }
    
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
        
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img {
            margin-top: 24px;
            transition: all ease .1;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}